<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XMOPS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="#">XMOPS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                </ul>
                <div class="user-profile">
                    Username: [User123] | Role: [Admin] | <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h1 class="text-center">Web Interface</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Install Wordpress</h5>
                        <ul class="list-group" >
                            <li class="list-group-item">
                                <button id="wordpressEc2Btn" class="btn btn-primary btn-block" >Wordpress on EC2</button>
                            </li>
                            <li class="list-group-item">
                                <button id="destroyEc2Btn" class="btn btn-danger btn-block mt-2">Destroy EC2</button>
                            </li>
                            <li class="list-group-item">
                                <button id="wordpressLightsailBtn" class="btn btn-success btn-block" class="small-font">Wordpress on Lightsail</button>
                            </li>
                            <li class="list-group-item">
                                <button id="destroyLightsailBtn" class="btn btn-danger btn-block mt-2">Destroy Lightsail</button>
                            </li>
                            <!-- Add more buttons for other instances as needed -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Instance Status</h5>
                        <p id="statusMessage" class="text-center"></p>
                        <table id="instanceStatusTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="small-font">Instance ID</th>
                                    <th class="small-font">Instance Type</th>
                                    <th class="small-font">AMI-ID</th>
                                    <th class="small-font">Availabilty zone</th>
                                    <th class="small-font">Region</th>
                                    <th class="small-font">State</th>
                                    <!-- <th class="small-font">Instance Type</th> -->
                                    <th class="small-font">Key-Name</th>
                                    <th class="small-font">Private-IP</th>
                                    <th class="small-font">Destroy</th>
                                </tr>
                            </thead>
                            <tbody id="instanceStatusBody">
                                <!-- Table rows will be dynamically populated here -->
                                {% for instance in instance_data %}
                                <tr>
                                    <td>{{ instance_data.instance_id }}</td>
                                    <td>{{ instance_data.instance_type }}</td>
                                    <td>{{ instance_data.ami_id }}</td>
                                    <td>{{ instance_data.availability_zone }}</td>
                                    <td>{{ instance_data.instance_region }}</td>
                                    <td>{{ instance_data.instance_state }}</td>
                                    <td>{{ instance_data.key_name }}</td>
                                    <td>{{ instance_data.public_ip }}</td>
                                    <td><button class="btn btn-danger">Destroy</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    

    <script src="../static/client.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
